<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="1.1.0.118" />
  <package id="AutoMapper" version="2.1.267" />
  <package id="NBasicExtensionMethod" version="1.0.4292.32667" />
  <package id="NHelpfulException" version="1.0.4409.2007" />
  <package id="NSure" version="1.0.4409.2144" />
</packages>